* {
  margin: 0px;
  padding: 0px;
  /* border: red solid 1px; */
}
#container {
  color: black;
  padding: 0 100px;
  padding-bottom: 100px;
  border: black solid 3px;
  width: 700px;
  margin: 0 auto;
}
.main-all {
  display: flex;
  justify-content: space-between;
}
/* navbar things */
.nav {
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.nav-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.btn {
  border: solid black;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #2b78e4;
  padding: 2px 9px;
  box-shadow: 3px 3px black;
}
input {
  border: black solid 2px;
  width: 40%;
  padding: 5px;
}

/* main box content */
.main-content {
  width: 60%;
}
.left-section-boxes {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: black solid 3px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-top: 20px;
  margin-right: 10px;
}

.yellow-btn {
  border: solid black;
  font-family: "Roboto", sans-serif;
  background-color: #ffd966;
  padding: 5px 15px;
  box-shadow: 3px 3px black;
  margin-top: 10px;
}
.definition {
  text-align: left;
  width: 230px;
  margin-left: 30px;
}

.word p {
  width: 100px;
}

/* side content */

.right-section-boxes {
  flex: 1;
  border: black solid 3px;
  padding: 15px 15px;
  margin-top: 20px;
  margin-left: 10px;
  height: 50%;
}
.green-btn {
  border: solid black;
  background-color: #93c47d;
  padding: 5px 35px;
  box-shadow: 3px 3px black;
  display: block;
  margin-top: 10px;
}

.word h1,
.font-right h1 {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: x-large;
}
span {
  font-weight: bold;
}

.font-right h2 {
  font-weight: 100;
  font-size: medium;
}
